body {
    margin: 0;
}
.bg-ltblue {
  background-color: #CAD7EF;
}
.bg-ltblue p {
  font-family:Georgia, serif;
  font-size: 40px;
  padding-bottom: 25px;
}
.bg-ltblue li {
  position: relative;   /*children of the class take the postition of the parent*/
  font-family:Georgia, serif;
  font-size: 20px;
  padding-bottom: 15px;
}
.check::before {
  left: -15px;
  top: -2px;
  content: '✓';
  position: absolute;
}

 li {
  list-style-type: none;
  font-weight: normal;
  font-size: 18px;
 }

.firstSection {
  height: 300px;
  width: auto;
  background-image: url(qaimagetoppng.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  padding: 150px;
}

@media screen and (max-width: 768px) {
  .homeContainer {
      flex-direction: column;
  }
  .homeContainer-left,
  .homeContainer-right {
      width: 100%;
      margin: 0;
      padding: 20px;
  }
  .logoDiv {
    padding: 5%;
}
}
@media screen and (min-width: 1025px) and (max-width: 1200px) {
  .homeContainer-left {
      width: 35%;
  }
  .homeContainer-right {
      width: 55%;
  }
}
