body {
  margin: 0;
  padding: 0;
}
.mainContainer {
    float: left;
    display: inline-block;
}
.mainDiv {
  float: right;
  margin-top: 20px;
  margin-bottom: 20px;
  width: auto;
  height: 250px;
  background-color:#0f4a86;
  }
  .title {
    color: white;
    font-size: 35px;
    font-family: Helvetica 'Courier New', Courier, monospace, sans-serif;
    padding-top: 20px;
  }
  .title li{
    padding-left: 17px;
  }
  .additionalInfo {
    color: white;
    font-size: 20px;
    font-family: Helvetica 'Courier New', Courier, monospace, sans-serif;
    padding-top: 8%;
    padding-left: 2%;
  }
  .infoPar{
    /*float: right;*/
    width: 50%;
    margin-top: 10px;
    height: auto;
  }
  .infoPar hr{
    /*display: inline-block;*/
    width: 400px;
    border-bottom: 2px solid black ;
  }
  .parTitle {
    font-family: 'Courier New', monospace;
    font-size: 60px;
  }
  .parContent {
    font-family: Garamond, serife;
    font-size: 20px;
    border-bottom: 1px solid black;
    padding-bottom: 10px;
  }
  .container {
    width: 100%;
}

@media (min-width: 640px) {
    .container {
        max-width: 640px
    }
}
@media (min-width: 768px) {
    .container {
        max-width: 768px
    }
}
@media (min-width: 1024px) {
    .container {
        max-width:1024px
    }
}
@media (min-width: 1280px) {
    .container {
        max-width:1280px
    }
}
.text-60 {
    font-size: 60px;
}
.front-courier {
    font-family: 'Courier New', monospace;
}
.wrapper {
    width: 70%;
    margin-left: 280px;
}
