body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  }

.info {
  border-bottom: 2px solid #0f4a86;
  display: flex;
  justify-content: right;
  padding-top: 16px;
  padding-right: 30px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
                  /*navigation design*/
.topnav {
  overflow: hidden;
  background-color: #CFCECE;
  display: flex;
  justify-content: center;
}
.topnav a {
  float: left;
  color: #302929;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 15px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.topnav a:hover {
  background-color: #9d8cffb0;
}
.active {
  background-color: #2b87f0;
  color: white;
}
                    /*menu*/
  .menuButton {
    background-color: #CFCECE;
    border: none;
    cursor: pointer;
  }
 .menuIcon {
    padding-left: 40px;
    padding-top: 6px;
    align-content: center;
  }
  .menuButton:hover, .menuIcon:focus {
    background-color: #9d8cffb0;
  }
.lineMenu {
  align-content: center;
  width: 30px;
  height: 3px;
  background-color: black;
  margin: 6px 0;
}
.dropInfo {
  top:110px;
  right: 40px;
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  overflow: auto;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}
.dropInfo a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}
.show {display: block;}

                  /*page content*/
.homeContainer {
  padding: 20px;
  display:flex;
}
.homeContainer-left {
  border-left: 4px solid #0f4a86;   
  margin-right: 5px;
  flex: 1;
  float: left;
  width: 40%;
}
.leftContainerText {
  text-indent: 10px;
  font-family: Garamond;
  font-weight: bold;
  font-size: 25px;
 }
 .check{
  position: relative;   /*children of the class take the postition of the parent*/
  margin-bottom: 9px;
}
.check::before {
  left: -15px;
  top: -2px;
  content: '✓';
  position: absolute;
}
.test {
  list-style-type: none;
}

 li {
  font-weight: normal;
  font-size: 18px;
 }

.homeContainer-right {
  margin-left: 5px;
  flex: 1;
  background-color: #0f4a86;
  float: left;
  width: 40%;
  padding: 20px;
}
.rightContainerText {
  color: white;
  text-align: center;
  font-size: 22px;
  font-family: Garamond;
  font-weight: bold;
 }
.mainContainer {
  height: 120px;
  width: auto;
  background-image: url(logo.jpg);
  background-position: center;
  background-repeat: no-repeat;
  padding: 150px;
  
}
